* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;

    --spacing: 5px;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: var(--spacing);
    margin: 0 calc(var(--spacing) * 2);
    height: 100%;

    font: -apple-system-short-body;
    text-align: center;
}

.secondary-text {
    color: grey;
}

.how-to-use {
    align-items: left;
    justify-content: left;
    text-align: left;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

button {
    font-size: 1em;
}

.move-image {
/*    animation: slide 10s linear infinite;*/
}

.image-box {
/*    position: absolute; /* Allows the image to move freely across the screen */
/*    top: 3%;*/
    animation: pulse 60s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    to {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.5); /* 100% scale */
    }
    50% {
        transform: scale(0.45); /* 90% scale */
    }
}
